{% extends 'base.html' %}
{%load static%}
{% block content %}
<head>
    <title> Connexion </title>
  </head>
<form method="POST">
{% csrf_token %}

<body class= "login-page-back">
<div class="login-box">
  <h2>Connexion RT - SHOP</h2>
  <form>
    <div class="user-box">
      <input type="text" class="form-control" name="username" placeholder="Nom d'utilisateur" required="" autofocus="" />
    
    </div>
    <div class="user-box">
      <input type="password" class="form-control" name="password" placeholder="Mot de passe" required=""/>
      
    </div>
    <a href="#">
       <button class="btn btn-lg btn-primary btn-block" type="submit">Se connecter</button>
    </a>
  </form>
</div>
</body>


{% endblock %}




