{% extends 'base.html' %}
{% load static %}

{% block content %}

<head>
    <title>Mes commandes </title>
  </head>
<body class="body-article-list">
  <div class="top-article-list">
    <h1 class="shadow p-3 mb-5 bg-body rounded ">Mes commandes :</h1>
</div>
<body class="grid">
    <div class="article-table">
      <table class="table table-sm table-light table-striped table-bordered text-center">

        <thead>
          <tr class="table-dark">
            <th scope="col">Produit</th>
            <th scope="col">Prix</th>
            <th scope="col">Quantite</th>
            <th scope="col">Date de commande</th>
          </tr>
        </thead>
        <tbody>
            {% for commande in commandes %}
          <tr>
           
            <th>{{commande.Produit.nom}} 
            <td> {{commande.Produit.prix}}</td>
            <td>{{commande.quantite}}</td>
            <td>{{commande.datecommande}}</td>
            </th>
            

          </tr>
        </tbody>
        {% endfor %}
      </table>
      <caption>Vos dernières commandes, triée dans l'ordre chronologique des commandes.</caption>
    </div>
    <div class="button-valid">
      <p>En cliquant sur ce button vous pouvez générer un fichier de type .PDF avec l'ensemble de vos commandes. </p>
    <a href="{% url 'commandes_pdf'%}" type="button" class="btn btn-outline-info"> Télécharger votre fichier </a>
    </div>
    
  </body>
    {% endblock %}