{% extends 'base.html' %}
{% load static %}

{% block content %}

<body class="body-article-list">

<div class="card1">
  <div class="product">
    <div class="left-side">
      <div class="container1">
        <div class="main-photo">
          <img src="{{ produit.photo.url }}" alt="{{ produit.nom }}" style="max-width: 250px ;">
        </div>	
      </div>
    	<div class="green-apple">
        <h2>{{ produit.nom}}</h2>
      </div>
    </div>
    <div class="right-side">
      <div class="text">
        <h1> <strong>{{ produit.nom}} </strong></h1>
      </div>
      <div class="price">
        <h2><strong>   {{ produit.prix}}€</strong></h2>
      </div>
      <div class="info">
        <span>INFORMATION</span>
        <ul>
          <h4>Date de peremption :  {{ produit.dateper}}</h4>
          <h4>Catégorie du produit: {{ produit.cat}}</h4>
          <h4>Marque :  {{ produit.marque}}</h4>
          <h4>En stock :  {{ produit.stock}}</h4>
        </ul>
      </div>
      {% if user.is_authenticated %}
      <div class="btn">
        <button><a href="{% url 'add_to_cart' produit.slug %}">Ajouter ce article au pannier</a>
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="btn">
  <button><a href="{% url 'login' %}">Connectez-vous pour continuer</a>

</body>

{% endif %}


{% endblock %}

